Repository boromir674/cicd-test, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, business_logic, docs, test

.github/labeler.yml:

# Pull Request Labeling Rules based on changed files

# Add 'ci' label to any change within the '.github' dir
ci:
- any: ['.github/*', '.github/**/*']


# Add 'business_logic' label to any change within the 'src/cicd_test' dir
business_logic:
- any: ['src/cicd_test/*', 'src/cicd_test/**/*']


# Add 'docs' label to any change within the 'docs' dir
docs:
- any: ['docs/*', 'docs/**/*']


# Add 'test' label to any change within the 'tests' dir
test:
- any: ['tests/*', 'tests/**/*']

refactor code
  .github/workflows/docker_pol2_green_1110_0010.yaml
Labels: none

update .gitignore
  .gitignore
Labels: none

feat(pypi): test simple PyPI Job
  .github/workflows/pypi_test.yaml
Labels: none

update test Job
  .github/workflows/pypi_test.yaml
  tox.ini
Labels: none

fix Job
  .github/workflows/pypi_test.yaml
Labels: none

try hard-coded sytanx
  .github/workflows/pypi_test.yaml
Labels: none

change order of keys in caller job
  .github/workflows/pypi_test.yaml
Labels: none

fix test
  .github/workflows/pypi_test.yaml
  tox.ini
Labels: none

try and fix potential name collison on testpypi upload
  .github/workflows/pypi_test.yaml
  pyproject.toml
Labels: none

properly fix potential name collison on testpypi upload
  tox.ini
Labels: none

test reading artifacts path from prev Job of Caller
  .github/workflows/pypi_test.yaml
Labels: none

feat(pypi_env): test Reusable workflow that relies on CI Environment to find pypi credentials
  .github/workflows/pypi_test.yaml
Labels: none

fix(pypi_env): bypass: environment secrets can't be loaded automatically, like environment variables
  .github/workflows/pypi_test.yaml
Labels: none

fix test
  .github/workflows/pypi_test.yaml
Labels: none

point pypi Job to stable branch of cicd pipelines
  .github/workflows/pypi_test.yaml
Labels: none

test pypi with allow_existing flag on
  .github/workflows/pypi_test.yaml
Labels: none

feat: add tests expecting a failed PyPI Caller, due to existing distro collision
  .github/workflows/pypi_test_red.yaml
Labels: none

trigger test workflows on dispatch (api calls)
  .github/workflows/docker_pol0_green_0000_1100.yaml
  .github/workflows/docker_pol0_red_0100.yaml
  .github/workflows/docker_pol1_green_0001_1101.yaml
  .github/workflows/docker_pol1_red_0101.yaml.yaml
  .github/workflows/docker_pol2_green_1110_0010.yaml
  .github/workflows/docker_pol2_red_0110.yaml
  .github/workflows/docker_pol3_red_0111.yaml
  .github/workflows/docker_test_when_tag_not_given.yaml
  .github/workflows/lib_assert_docker_push.yml
  .github/workflows/pypi_test.yaml
  .github/workflows/pypi_test_red.yaml
  .github/workflows/test1.yaml
Labels: none

fix: Docker Pol3 Red 0111 workflow Test
  .github/workflows/docker_pol3_red_0111.yaml
  .github/workflows/test1.yaml
Labels: none

fix: remove unsused Test Workflow Config
  .github/workflows/test1.yaml
Labels: none

remove 'name' keys from Test Jobs, which carry no useful info
  .github/workflows/docker_pol0_green_0000_1100.yaml
  .github/workflows/docker_pol0_red_0100.yaml
  .github/workflows/docker_pol1_green_0001_1101.yaml
  .github/workflows/docker_pol3_green_1111_0011.yaml
Labels: none

rename Docker Pol 3 Test Workflow jobs to match automated tests code
  .github/workflows/docker_pol3_green_1111_0011.yaml
Labels: none

rename red pypi test workflow jobs, to fix automated tests
  .github/workflows/pypi_test_red.yaml
Labels: none

update Test Runner (pytest) dependencies
  poetry.lock
  pyproject.toml
Labels: none

dev: update scripts
  tox.ini
Labels: none

update .gitignore
  .gitignore
Labels: none

dev: add configuration to integrate with devcontainer's
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose-dev-container.yml
  .devcontainer/library-scripts/common-debian.sh
  .devcontainer/library-scripts/docker-debian.sh
Labels: none

feat(pytest): implement Unit Tests to trigger the Test Workflows & automatically make assertions
  tests/conftest.py
  tests/test_workflow.py
Labels: test

remove unused code
  tests/smoke_test.py
Labels: test

update .gitignore
  .gitignore
Labels: none

fix: integrate with pypi using API Token (since 2fa is now enabled)
  .github/workflows/pypi_test.yaml
Labels: none

feat: add workflow, calling static workflow, expecting Green
  .github/workflows/static_code_green.yaml
Labels: none

fix test coe
  tox.ini
Labels: none

refactor(sqa-green): run sqa Job on main, with policy 2, and expect Green: cicd-test python code
  .github/workflows/static_code_green.yaml
Labels: none

fix(test-sqa-green): fix syntax
  .github/workflows/static_code_green.yaml
  tests/conftest.py
  tests/test_workflow.py
  tox.ini
Labels: test

fix(test-sqa-green): fix syntax
  .github/workflows/static_code_green.yaml
Labels: none

fix(test-sqa-green): fix logic
  .github/workflows/static_code_green.yaml
Labels: none

fix(sqa-test): fix test scenario logic
  .github/workflows/static_code_green.yaml
Labels: none

fix syntax
  .github/workflows/static_code_green.yaml
Labels: none

temp commit for testing
  src/cicd_test/__init__.py
Labels: business_logic
