Repository boromir674/cicd-test, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, business_logic, docs, test

.github/labeler.yml:

# Pull Request Labeling Rules based on changed files

# Add 'ci' label to any change within the '.github' dir
ci:
- any: ['.github/*', '.github/**/*']


# Add 'business_logic' label to any change within the 'src/cicd_test' dir
business_logic:
- any: ['src/cicd_test/*', 'src/cicd_test/**/*']


# Add 'docs' label to any change within the 'docs' dir
docs:
- any: ['docs/*', 'docs/**/*']


# Add 'test' label to any change within the 'tests' dir
test:
- any: ['tests/*', 'tests/**/*']

temp commit for testing purposes
  src/cicd_test/__init__.py
  tests/conftest.py
Labels: business_logic, test

revert tem commits
  .github/workflows/static_code_green.yaml
  README.rst
  src/cicd_test/__init__.py
  tests/conftest.py
Labels: business_logic, test

fix test logic
  .github/workflows/static_code_green.yaml
Labels: none

fix test
  .github/workflows/static_code_green.yaml
Labels: none

fix test
  .github/workflows/static_code_green.yaml
Labels: none

fix test
  .github/workflows/static_code_green.yaml
Labels: none

CICD Test: injected line for Automated Workflow Testing
  src/cicd_test/__init__.py
Labels: business_logic

CICD Test: injected line for Automated Workflow Testing
  src/cicd_test/__init__.py
Labels: business_logic

wip
  .github/workflows/static_code_green.yaml
Labels: none

CICD Test: injected line for Automated Workflow Testing
  src/cicd_test/__init__.py
Labels: business_logic

wip
  .github/workflows/static_code_green.yaml
Labels: none

feat: trigger test sqa on "v-sca-g*" tags
  .github/workflows/static_code_green.yaml
Labels: none

CICD Test: injected line for Automated Workflow Testing
  src/cicd_test/__init__.py
Labels: business_logic

feat: test sqa
  .github/workflows/static_code_green.yaml
Labels: none

style: add comments
  tests/test_workflow.py
Labels: test

style(black): apply black to this code base to make the sqa Job pass Black checks
  tests/conftest.py
  tests/test_workflow.py
Labels: test

fix test syntax
  .github/workflows/static_code_green.yaml
Labels: none

refactor(prospector): adjust python code to pas SQA on Test CI
  tests/test_workflow.py
Labels: test

fix(python_project): fix tox of test python project to allow pylint considere the distro in src
  tox.ini
Labels: none

pass Pylint with high Score
  poetry.lock
  pyproject.toml
  src/cicd_test/__main__.py
  src/cicd_test/cli.py
Labels: business_logic

satisfy both black and pylint
  src/cicd_test/__main__.py
Labels: business_logic

fix test logic to be called from 'main' ref event
  .github/workflows/static_code_green.yaml
Labels: none

feat(code_visualization): add Test Workflow calling Code Visualization and add Python Automated Test
  .github/workflows/code_viz_green.yaml
  tests/conftest.py
Labels: test

fix(test-code_viz): add pydeps tox env, which expected by
  tox.ini
Labels: none

fix(distro_name): rename distro name, (aka module/package name) in pypropject.toml to cicd_test
  pyproject.toml
Labels: none

fix: use correct expected python distro name, in PyPI Workflows
  .github/workflows/pypi_test.yaml
  .github/workflows/pypi_test_red.yaml
Labels: none

fix: rename toy python pkg used in Testing Scenarios to cicd_test_workflow
  .github/workflows/pypi_test.yaml
  .github/workflows/pypi_test_red.yaml
  pyproject.toml
  tox.ini
Labels: none
